.idea
.idea/**
__pycache__
__pycache__/**
**/__pycache__
**/__pycache__/**

*.spec

build
build/**
dist
dist/**
drafts
drafts/**
tests/test data/
tests/test data/**
tests/storage
tests/storage/**

log.txt**
out.txt
result.txt
storage_history.json
config.json
test/config.json
storage_report.mxl
storage_version.json

/tests/*.log
/tests/check.bat
/tests/sonar-scanner.properties
/tests/.scannerwork/
