__pycache__
__pycache__/**
**/__pycache__
**/__pycache__/**
.idea
.idea/**
storage_data.json
log.txt
out.txt
result.txt
tests/data
tests/data/**
tests/storage
tests/storage/**
drafts
drafts/**
storage_report.mxl
storage_history.json
storage_version.json
congig.json
