.idea
.idea/**
__pycache__
__pycache__/**
**/__pycache__
**/__pycache__/**

*.spec

build
build/**
dist
dist/**
drafts
drafts/**
tests/data
tests/data/**
tests/storage
tests/storage/**

log.txt**
out.txt
result.txt
storage_history.json
config.json
test/config.json
storage_report.mxl
storage_version.json

